.submenu-mobile-cursos {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 0;
}
.submenu-mobile-cursos-title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}

.submenu-mobile-cursos-link {
  list-style: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2px;
}
