.top-infos-description-text {
  width: 100%;
  max-width: 715px;
  margin-left: 32px;
}
.top-infos-description-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-500);
  margin-bottom: 12px;
}
.top-infos-description-content-desktop {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--gray-700);
}
.top-infos-description-content-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .top-infos-description-text {
    margin-left: 0px;
  }
  .top-infos-description-title {
    text-align: center;
  }
  .top-infos-description-content-desktop {
    display: none;
  }
  .top-infos-description-content-mobile {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    text-align: justify;

    color: var(--gray-700);
  }
}
