.footer-mobile-duvidas-links-items-list {
  padding-top: 2px;
}
.footer-mobile-duvidas-links-item {
  list-style: none;
  padding: 2px 0;
}
.footer-mobile-duvidas-links-link {
  text-decoration: none;
}

.footer-mobile-duvidas-links-link,
.footer-mobile-duvidas-links-u {
  font-family: "Roboto", sans-serif;

  font-size: 12px;
  line-height: 14px;

  color: var(--gray-300);
}

.footer-mobile-duvidas-links-span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: var(--gray-300);
}
